@font-face {
    font-family: 'JUJUTSU';
    src: url(jujutsu-kaisen/Jujutsu\ Kaisen.ttf);
}

* {
    margin: 0;
    padding: 0;
    
  }

  @media (max-width: 600px) {
    header, section, footer {
        padding: 10px;
    }
}



body {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(Jujutsu-Kaisen-Shibuya-Arc-thumb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(px);

}

header {
    color: rgb(172, 0, 0);
    text-align: center;
    padding: 1em;
    font-family: 'JUJUTSU';
    font-size: 30px;
}

section {
    padding: 20px;
    text-align: center;
    color: #ffffff;
}



 /*   footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ffffff;
}



.footer__p{
    line-height: 2;
    padding: 5px;
    margin: 5px;
    text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff;
}
  *\
  
  
 